<p>
  home works!
</p>
<p-calendar [(ngModel)]="value"
  [showIcon]="true"></p-calendar>

<!-- Split button -->
<div class="btn-group">
  <button type="button"
    class="btn btn-danger">Action</button>
  <button type="button"
    class="btn btn-danger dropdown-toggle"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li role="separator"
      class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>

<ul class="nav nav-tabs">
  <li role="presentation"
    class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>

<div class="progress">
  <div class="progress-bar"
    role="progressbar"
    aria-valuenow="60"
    aria-valuemin="0"
    aria-valuemax="100"
    style="width: 60%;">
    <span class="sr-only">60% Complete</span>
  </div>
</div>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput
      placeholder="Favorite food"
      value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput
      placeholder="Leave a comment"></textarea>
  </mat-form-field>
  <mat-form-field>
    <input matInput
      [matDatepicker]="picker"
      placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix
      [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</form>
<mat-slide-toggle>Slide me!</mat-slide-toggle>
<i class="material-icons">face</i>
<i class="material-icons">
  assignment_turned_in
</i>